.env
**/.env

# Heimdall
projects/heimdall/heimdall/config/log/
projects/heimdall/heimdall/config/www/logs/
projects/heimdall/heimdall/config/keys/
projects/heimdall/heimdall/config/nginx/dhparams.pem

# sqlite-browser
projects/sqlite-browser/config/
projects/sqlite-browser/data/

# beszel
projects/beszel/beszel_data/
projects/beszel/beszel_socket/

# Authelia
projects/authelia/secrets/jwt_secret
projects/authelia/secrets/session_secret
projects/authelia/secrets/storage_key

# Netbox
projects/netbox/.env
